.calendar-container {
    width: 100%; /* 원하는 너비 비율로 설정 */
    height: 240rem; /* 원하는 높이 설정 */
    margin: 0 auto; /* 가운데 정렬 */
  }
  
  .fc {
    font-size: 3rem; /* 폰트 크기를 조정 */
  }

  .fc.fc-toolbar-title {
    font-size: 1rem;
  }

  .fc-header-toolbar.fc-toolbar  {
    width: 100%;
  } 

  /* 버튼 크기 조정 */

  .fc-button.fc-button-primary {
    font-size: 2rem; /* 버튼 텍스트 크기 */
    padding: 0.5rem 1rem; /* 버튼 내부 여백 */
    border-radius: 5px; /* 버튼 모서리 */
  }
  
  .fc-today-button.fc-button.fc-button-primary {
    display: none;
  }
  
  /* 버튼 컨테이너 조정 (옵션) */
  .fc-toolbar-chunk {
    display: flex;
    width: 100%;
    gap: 0.5rem; /* 버튼 간격 조정 */
  }
  